@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
--fredoka : "Fredoka One", "Open Sans", sans-serif;
--openSans : "Open Sans", "Helvetica", sans-serif;

--blue: #7DC3E1;
--green: #A6C550;
--yellow: #F6BF6C;
--orange: #F6A66C;
--red: #EF6E6E;
--dark-blue: #1A1D26;
}


html{
  scroll-behavior: smooth;
}

ul{
  padding: 0;
  margin: 0;
}